 <input type="text" id="fake_input" />
 <a class="action--wishlist tile-actions--btn flex wishlist-btn" href="javascript:;" data-toggle="tooltip" data-placement="bottom" data-product-id="{{ product.id }}" data-original-title="Add to Wishlist" data-product-handle="{{ product.handle }}">
  <span class="fa-solid fa-heart" style="color: #ff0000;"></span>
</a>
<div class="wishlist_mobile">
	<div class="wishlist_text">Added to wishlist</div>
</div>
