<div class="btn-with-text">
  <div class="txt-btn-box">
    <div>{{ section.settings.text }}</div>
    <div>
      <a href={{ section.settings.btnlink }}>{{ section.settings.btntext }}</a>
    </div> 
  </div>
</div>




{% schema %}
  {
    "name": "Button With Text",
    "settings": [
      {
        "type":"text",
        "id": "text",
        "label": "Text"
      },
      {
        "type":"url",
        "id": "btnlink",
        "label": "Button Link"
      },
      {
        "type":"text",
        "id": "btntext",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Button With Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}