<div class="nws-bg">
  <div class="container">
  <div class="nws-bg-in">
  <div class="nws-bg-in-lft">
  <h2>{{ section.settings.heading }}</h2>
    
  </div>
    <div class="nws-bg-in-mid">
  
    <div class="globo-formbuilder" data-id="OTUwMjg="></div>
  </div>
    <div class="nws-bg-in-rht">
  
    <ul class="list-icons">
      <li>
        <a class="facebook" href="http://www.facebook.com/americangiftbaskets" target="_blank" title="">
          <span class="fa-solid fa-facebook"></span><span class="ts-tooltip social-tooltip">Facebook</span>
        </a>
      </li>
      <li>
        <a class="twitter" href="http://twitter.com/giftamerican" target="_blank" title="">
          <span class="fa-solid fa-twitter"></span><span class="ts-tooltip social-tooltip">Twitter</span>
        </a>
      </li>
      <li>
        <a class="instagram" href="https://instagram.com/americangiftbaskets" target="_blank" title="">
          <span class="fa-solid fa-instagram"></span><span class="ts-tooltip social-tooltip">Instagram</span>
        </a>
      </li>
      <li>
        <a class="custom-icon" href="https://www.pinterest.com/giftswithat0005/" target="_blank" title="">
          <span class="fa-solid fa-pinterest"></span><span class="ts-tooltip social-tooltip">Pinterest</span>
        </a>
      </li>
    </ul>
  </div>
    
    
  </div>
    
  </div>
    
  </div>
  
  
  {% schema %}
  {
    "name": {
      "en": "newsletter-section"
    },
    "class": "index-section",
    "settings": [
    
      
      {
        "type": "html",
        "id": "heading",
        "label": {
          "en": "Heading"
        },
        "default": {
          "en": "Image with text"
        }
      }
    ],
    "presets": [
      {
        "name": {
          "en": "newsletter-section"
        },
        "category": {
          "en": "Image"
        }
      }
    ]
  }
  {% endschema %}