<div class="page-header-main  header-space">
  <div class="page-header-container">
    <div>
      <h1 class="page-heading">{{ page.title }}</h1>
      
      {% render 'breadcrumb' %}
    </div>
  </div>
  <div class="container">
  <div class="page-content-box">
      <div class="rte content-section">
       
        <div class="page-content">
            {{ page.content }}
          
        </div>
    </div>
  
</div>
    </div>
</div>
{% schema %}
  {
    "name": "Page-header",
    "settings": [
      
    ]
  }
{% endschema %}
